.Main-Content {
  width: 50vw;
  height: max-content;
  background-color: #1e1e1f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5em;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 2em;
}
h1,
h2,
h3,
h4,
p,
a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 15px;
  text-align: start;
}
.Primaryheader {
  display: flex;
  justify-content: start;
  & h1 {
    position: relative;
    display: inline-block;
  }
}
.Primaryheader h1::after {
  content: "";
  display: block;
  width: 40px; /* Adjust the width of the border as needed */
  height: 4px; /* Adjust the height of the border as needed */
  background-color: #fec835; /* Adjust the color as needed */
  margin-top: 4px; /* Adjust the space between text and border as needed */
}

.secondaryheader {
  display: flex;
}
.Doing-Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}
.Doing-items {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  /* border: 0.3px white ; */
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px white; */
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%),
    hsl(240, 2%, 13%);
}
.Worktitle {
  display: flex;
  height: 2.5em;
}

.Doing-text {
  padding-top: 1.5rem;
}

.Work-Icons {
  margin-right: 1rem;
}
.AboutMeText {
  margin-bottom: 0.5em;
}
